// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$padding-value: 0.5rem 1rem;
.bc-app-link {
    padding: $padding-value;
}
