<template>
  <div>
    <h4>BigCommerce Orders</h4>
    <template>
        <div>
            <b-table striped hover :items="orders" :fields="fields"></b-table>
        </div>
    </template>
  </div>
</template>

<script>

  import 'bootstrap-vue/dist/bootstrap-vue.css'

  export default {
    data() {
      return {
        fields: ['id', 'date_created',, 'status', 'subtotal_inc_tax', 'total_inc_tax', 'ip_address'],
        orders: []
      }
    },
    mounted () {
        axios.get('/bc-auth/orders')
        .then(response => {
            //console.log(response.data.orders)
            this.orders = response.data.orders
        })
    }
  }

</script>