<template>
  <div>
    <h4>BigCommerce Products</h4>
    <template>
        <div>
            <b-table striped hover :items="products" :fields="fields"></b-table>
        </div>
    </template>
  </div>
</template>

<script>

  import 'bootstrap-vue/dist/bootstrap-vue.css'

  export default {
    data() {
      return {
        fields: ['name', 'date_created', 'type', 'sku', 'price'],
        products: []
      }
    },
    mounted () {
        axios.get('/bc-auth/products')
        .then(response => {
            console.log(response.data.products.data.length)
            this.products = response.data.products.data
        })
    }
  }

</script>